<ng-template #loading_spinner>
  <div class="loading-shade">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
    ></mat-progress-spinner>
  </div>
</ng-template>
<section>
  <form
    (ngSubmit)="onSubmit(form)"
    #form="ngForm"
    *ngIf="!loading; else loading_spinner"
  >
    <div class="eca-actions">
      <a [routerLink]="['']" style="float: right">
        <button mat-flat-button color="secondary">
          <mat-icon>arrow_back</mat-icon>Back
        </button>
      </a>
      <button
        mat-flat-button
        color="secondary"
        type="button"
        (click)="onRestore()"
        style="margin-left: 4px"
      >
        Restore Defaults
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Save
      </button>
    </div>

    <h1>Settings</h1>
    <mat-form-field>
      <mat-label>Library</mat-label>
      <mat-select
        ngModel
        name="library"
        [matTooltip]="constants.libraryTip"
        required
        #library="ngModel"
        [(ngModel)]="config.mustConfig.library"
        (selectionChange)="onLibraryChange($event.value)"
      >
        <mat-option *ngFor="let lib of libraries" [value]="lib.code">{{
          lib.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span *ngIf="!library.valid && library.touched"
      ><p>Please choose a library</p></span
    >
    <div class="from" ngModelGroup="from" appFromvalidator #from="ngModelGroup">
      <mat-form-field>
        <mat-label>Circulation desk</mat-label>
        <mat-select
          [matTooltip]="constants.circTip"
          ngModel
          name="circ_desk"
          [(ngModel)]="config.from.circ_desk"
          #circ_desk
          (selectionChange)="onCircDeskOrDepartmentChange(config.from.circ_desk,config.from.department)"
        >
        <mat-option *ngFor="let circ of circulation_desks" [value]="circ.code">{{
          circ.name
        }}</mat-option>
      </mat-select>
      </mat-form-field>
     
      <mat-form-field >
        <mat-label>Department</mat-label>
            <input *ngIf="departments?.length === 0"  
                matInput type="text"
                [matTooltip]="constants.departmentTip"
                ngModel name="department" [(ngModel)]="config.from.department"
                #department/> 
            <mat-select *ngIf="departments?.length > 0"
                ngModel
                name="department"
                [matTooltip]="constants.departmentTip"
                [(ngModel)]="config.from.department"
                (selectionChange)="onCircDeskOrDepartmentChange(config.from.circ_desk,config.from.department)"
                #department >
                <mat-option *ngFor="let department of departments" [value]="department.code">{{
                  department.name
                }}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <span *ngIf="!from.valid && from.touched"
      ><p>
        Please choose either circulation desk or department, but not both.
      </p></span
    >
    <mat-form-field>
      <mat-label>Work order type</mat-label>
      <mat-select
        [matTooltip]="constants.workOrderTypeTip"
        ngModel
        name="work_order_type"
        [(ngModel)]="config.mustConfig.work_order_type"
        #work_order_type
        (selectionChange)="onWorkOrderTypeChange($event.value)"
      >
      <mat-option *ngFor="let type of work_order_types" [value]="type">{{
         type
      }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select
        #status
        [matTooltip]="constants.statusTip"
        ngModel
        name="status"
        [(ngModel)]="config.mustConfig.status"
      >
      <mat-option *ngFor="let status of statuses" [value]="status.column1">{{
        status.column2
      }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle
      name="auto_print_slip"
      [matTooltip]="constants.autoPrintSlipTip"
      matTooltipPosition="right"
      [(ngModel)]="this.config.mustConfig.auto_print_slip"
      color="primary"
      labelPosition="after"
      >Auto print slip</mat-slide-toggle
    >
    <br />
    <mat-slide-toggle
      name="confirm"
      [matTooltip]="constants.confirmTip"
      matTooltipPosition="right"
      [(ngModel)]="this.config.mustConfig.confirm"
      color="primary"
      labelPosition="after"
      >Confirm</mat-slide-toggle
    >
    <br />

    <mat-slide-toggle
      name="register_in_house_use"
      [matTooltip]="constants.registerInHouseUseTip"
      matTooltipPosition="right"
      [(ngModel)]="this.config.mustConfig.register_in_house_use"
      color="primary"
      labelPosition="after"
      >Register in house use</mat-slide-toggle
    >
    <br />
    <mat-slide-toggle
      name="external_id	"
      [matTooltip]="constants.externalIdTip"
      matTooltipPosition="right"
      [(ngModel)]="this.config.mustConfig.external_id"
      color="primary"
      labelPosition="after"
      >External ID</mat-slide-toggle
    >
    <br />

    <div class="department-options" *ngIf="config.from.department !== ''">
      <mat-slide-toggle
        name="done"
        [matTooltip]="constants.doneTip"
        matTooltipPosition="right"
        [(ngModel)]="this.config.departmentArgs.done"
        color="primary"
        labelPosition="after"
        >Done</mat-slide-toggle
      >
      <br />
    </div>
    <div class="circ-options" *ngIf="circ_desk?.value !== ''">
      <mat-slide-toggle
        name="place_on_hold_shelf"
        [matTooltip]="constants.placeOnHoldShelfTip"
        matTooltipPosition="right"
        [(ngModel)]="this.config.circArgs.place_on_hold_shelf"
        color="primary"
        labelPosition="after"
        >Place on hold shelf</mat-slide-toggle
      >
      <br />
    </div>
    <br /><br /><br />
    <!-- <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
      Save
    </button>
    <button mat-stroked-button color="primary" type="button" (click)="onRestore()" style="margin-left: 4px;">
      Restore Defaults
    </button> -->
  </form>
</section>
