<section>
  <h1>Welcome to Multi Scan In app</h1>
</section>
<ng-template #error_msg>
  <h2>This app needs to be configured first</h2>
</ng-template>
<div *ngIf="config; else error_msg">
  <h2>Please select or drag file of barcodes with line seprating between each barcode</h2>
  <ngx-dropzone (change)="onSelect($event)" accept=".txt" [multiple]="false">
    <ngx-dropzone-label>Choose barcode file</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>
